<p id="notice">
	<%= notice %>
</p>

<h1>
	<%= @party.name %>
</h1>

<p>
	You have been invited to this party!
</p>

<p>
	Please sign in and authorize us to check what artists you've played on Spotify.
</p>

<div class="welcome">
	<a href="#" class="hidden" id="connect">Connect to facebook</a>
</div>

<style type="text/css">

</style>

<div id="fb-root"></div>
<script type="text/javascript">
	window.partyId = <%= @party._id %>;
	var ArtistLookup = new Class({
		uid: null,
		artistNames: null,
		userName: null,
		saveDataRequest: null,

		initialize: function() {
			FB.getLoginStatus(this.handleLoginStatus.bind(this));
			this.saveDataRequest = new Request({
				url: "/users.json",
				method: "post",
				urlEncoded: false,
				headers: {
					"Content-type": "application/json"
				}
			});
			this.saveDataRequest.onSuccess = this.handleSaveDataSuccess.bind(this);
		},

		doLogin: function(e) {
			e.preventDefault();
			FB.login(this.handleLogin.bind(this), { scope: 'email, user_likes, user_activities'} );
		},

		handleLogin: function(response) {
			console.log("We're logged in now, let's do this.");
			$('connect').addClass("hidden");
			this.handleLoginStatus(response);
		},

		handleLoginStatus: function(response) {
			console.log("Received login status.");
			if (response.status === 'connected') {
				this.uid = response.authResponse.userID;
				FB.api('/me/music', this.handleMusicLikes.bind(this));
				FB.api("/me", this.handleUserData.bind(this));
			} else {
				console.log("Not logged in, waiting for login.");
				$('connect').removeClass("hidden");
				$('connect').addEvent("click", this.doLogin.bind(this))
			}
		},

		handleMusicLikes: function(response) {
			console.log("Received music likes");
			this.artistNames = [];
			response.data.each(function(element) {
				this.artistNames.push(element.name);
			}, this)
			this.finalizeIfDone();
		},

		handleUserData: function(response) {
			console.log("Received user data.");
			this.userName = response.name;
			this.finalizeIfDone();
		},

		handleSaveDataSuccess: function(response) {
			console.log("Saved data successfully");
			console.log(response);
		},

		finalizeIfDone: function() {
			if (!this.uid || !this.artistNames || !this.userName) return;
			console.log("Everything found, sending the data to Smart DJ");
			var requestData = {
				uid: this.uid,
				artists: this.artistNames,
				userName: this.userName,
				partyId: window.partyId
			}
			this.saveDataRequest.send(JSON.encode(requestData));
		}
	})

	window.fbAsyncInit = function () {
		FB.init({
			appId:'330749963639675', // App ID
			status:true, // check login status
			cookie:true, // enable cookies to allow the server to access the session
			xfbml:true, // parse XFBML
			oauth:true
		});

		new ArtistLookup();
	};

	// Load the SDK Asynchronously
	(function (d) {
		var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement('script');
		js.id = id;
		js.async = true;
		js.src = "//connect.facebook.net/en_US/all.js";
		ref.parentNode.insertBefore(js, ref);
	}(document));

</script>