<p id="notice">
  <%= notice %>
</p>

<h1>
  <%= @party.name %>
</h1>

<p>
  You have been invited to this party!
</p>

<p>
  Please sign in and authorize us to check what artists you've played on Spotify.
</p>

<!-- Do ajax with javascript to get facebook music.likes for signed in user -->
<!-- Then POST the list of artist names along with the fb_uid to create a new User -->
<!-- Then return the user_id in a json to the spotify app -->
<button>Sign In and Authorize</button>